body {
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
header ul{
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}
header li {
    float: left;
}
header li a{
    display: block;
    color: coral;
    text-align: center;
}
header li a:hover {
    background-color: darkturquoise;
}

.dropdown{
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    padding: 12px 16px;
    overflow-x: auto;
    overflow-y: none;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
